<h1>Listing municipios</h1>

<table>
  <tr>
    <th>Comunidad</th>
    <th>Provincio</th>
    <th>Municipio</th>
    <th>Tipovia</th>
    <th>Direccionvia</th>
    <th>Codigopostal</th>
    <th>Telefono</th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
    <td><%=h municipio.comunidad %></td>
    <td><%=h municipio.provincio %></td>
    <td><%=h municipio.municipio %></td>
    <td><%=h municipio.tipoVia %></td>
    <td><%=h municipio.direccionVia %></td>
    <td><%=h municipio.codigoPostal %></td>
    <td><%=h municipio.telefono %></td>
    <td><%= link_to 'Show', municipio %></td>
    <td><%= link_to 'Edit', edit_municipio_path(municipio) %></td>
    <td><%= link_to 'Destroy', municipio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New municipio', new_municipio_path %>