<p>
  <b>Comunidad:</b>
  <%=h @municipio.comunidad %>
</p>

<p>
  <b>Provincio:</b>
  <%=h @municipio.provincio %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @municipio.municipio %>
</p>

<p>
  <b>Tipovia:</b>
  <%=h @municipio.tipoVia %>
</p>

<p>
  <b>Direccionvia:</b>
  <%=h @municipio.direccionVia %>
</p>

<p>
  <b>Codigopostal:</b>
  <%=h @municipio.codigoPostal %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @municipio.telefono %>
</p>


<%= link_to 'Edit', edit_municipio_path(@municipio) %> |
<%= link_to 'Back', municipios_path %>