<p>
  <b>Comunidad:</b>
  <%=h @municipio.comunidad %>
</p>

<p>
  <b>Provincio:</b>
  <%=h @municipio.provincia %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @municipio.municipio %>
</p>

<p>
  <b>Tipovia:</b>
  <%=h @municipio.tipoVia %>
</p>

<p>
  <b>Direccionvia:</b>
  <%=h @municipio.direccionVia %>
</p>

<p>
  <b>Codigopostal:</b>
  <%=h @municipio.codigoPostal %>
</p>

<p> Aqui el mapa
<%= GMap.header %>
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 400) %>

</p>	
<p>
  <b>Telefono:</b>
  <%=h @municipio.telefono %>
</p>


<%= link_to 'Edit', edit_municipio_path(@municipio) %> |
<%= link_to 'Back', municipios_path %>