
<h1>
  <%=h @matter.name %>
</h1>

<p>
  <%=h @matter.description %>
</p>

<p>
  Ayuntamiento de <%=h @matter.city %>, <%=h @matter.state %>
</p>

<%= GMap.header %>
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 400) %>


<%= link_to 'Edit', edit_matter_path(@matter) %> |
<%= link_to 'Back', matter_path %>

<p>
<%= link_to_remote "¡Quiero hacer un comentario!",
  :url => { :controller => "comments", :action => "new", :matter_id => @matter.id , :user_id => "1" },
  :update => { :success => "comment", :failure => "error" },
  :complete => "Effect.Fade('quiero_comentar')",
  :html => { :id => 'quiero_comentar' } %>
</p>

<div id="comment"></div>
<div id="error"></div>
